/*AT bar properties*/
.at {
  list-style-type: none;
  margin: 12px;
  padding: 12px;
}

/*each AT bar element properties*/
.at li {
  display: inline-block;
  margin-right: 20px;
}

/*no text underlines*/
.at li button {
  display: inline-block;
  padding: 12px;
  height: auto;
  width: auto;
  margin: auto;
}

.horizontal-list {
  position: relative;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0; /* Removes any default padding */
  list-style-type: none; /* Removes default list styling */
}

/* List items */
.horizontal-list li {
 text-align: center; /* Centers the text inside each list item */
  justify-content: center; /* Centers the contents horizontally within each li */
  align-items: center; /* Centers the contents vertically within each li */
  flex: 1; /* Optional: allows items to stretch and take up available space evenly */

}

.horizontal-listHP li {
  text-align: center; /* Centers the text inside each list item */
   justify-content: center; /* Centers the contents horizontally within each li */
   align-items: center; /* Centers the contents vertically within each li */
   flex: 1; /* Optional: allows items to stretch and take up available space evenly */
   
 }
 .horizontal-listHP{
  list-style-type: none;

 }

.link-default {
  text-shadow: 0px;
  
  background-color: rgb(57, 57, 57);
}

.link-toggled {
  text-shadow: 100px;
  
  background-color: rgb(120, 120, 120);
}

.savedHP .barr{
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
}

.savedHP ul.barr{
  padding: 0;
  align-items: center;
  justify-content: center;
}

.savedHP ul.barr li{
  margin-right: 2vw;
}

.scroll {
  background-color:#00000010;
  overflow-y: scroll;
}

.savedHP .bookmarkedtext{
  text-decoration: underline;
  color: aquamarine;
}

/*----------------------------------------*/

.Checkbox-container{
  position:relative;
  margin-bottom: 20vh;
}
.Checkbox{
    position: absolute;
    top: 4vh;
    left: 1vw;
    text-align: center;
    padding: 0px 5vw;  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4vw; 
    max-width: 80vw;  
    margin: 0 auto;
}

.BusNo{
  position:relative;
}

.BusNo p{
  font-size: 2.5vh;
  position:relative;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.BusStop{
  position:relative;
}

.BusStop p{
  font-size: 2.5vh;
  position:relative;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.BusNo button {
  position: relative;
  
  width: 4vw;
  height: auto;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.BusNoTick {
  position: absolute;
  bottom: -1.5vh;
  right: 0.2vw;
  width: 3vw;
  height: auto;
  z-index: 2;

}

.BusNoBox {
  position: absolute;
  bottom: -2vh;
  right: 0.6vw;
  width: 3vw;
  height: auto;
  z-index: 1;

}

.BusStop button {
  position: relative;
  width: 4vw;
  height: auto;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.BusStopTick{
  position: absolute;
  bottom: -1.5vh;
  right: 0.2vw;
  width: 3vw;
  height: auto;
  z-index: 2;
}

.BusStopBox{
  position: absolute;
  bottom: -2vh;
  right: 0.6vw;
  width: 3vw;
  height: auto;
  z-index: 1;
}