.atlist button {
width: 8vw;

    border: none; 
    outline: none; 
    background-color: transparent; 
    box-shadow: none; 
}

.atlist:hover{
background-color:rgb(26, 38, 44);
border: 1px solid;
border-color: white;

}


.element {
    font-size: 7vh;

    animation: none;
    text-transform: capitalize;
    text-decoration: underline;
    
}



.hello{
    color: rgb(81, 214, 255);
    margin-left: auto;
    margin-right: auto;
    justify-content:center; 
    font-size: 4vh;
}

.hello2{
    color: rgba(62, 245, 255, 0.733);
    margin-left: auto;
    margin-right: auto;
    justify-content:center; 
    font-size: 3vh;
}


.noService{
    position: relative;
    top: 5vh;
    text-align: center;
    font-size: 1.3vw;
    color: grey;
}

.listbutton{ 
    position:relative;
}

.listbutton img{
    position:absolute;
    width: 2vw;
    height: auto;
    bottom: -2.3vh;
    right: 7vw;
    filter: invert(100%);
    transition: transform 0.5s ease-in-out;
    opacity: 0.2;

}

.listbutton img:hover {
    opacity: 1;
    transform: rotate(-360deg);
  }

  .timesStop{ position:relative;
    top: 2vh;
    right: 0.5vh;
    font-size: 2.7vh;

  }

  .timesNo{
    position:relative;
    right: 0.5vh;
    font-size: 2.7vh;
  }

  .timesHyb{
    position:relative;
    right: 0.5vh;
    font-size: 2.7vh;
  }

  
.listbutton button{
    position:absolute;
    padding: none;
    margin: none;
    z-index: 2;

}
.list
.btnfaved{
 width: 15vw;
 height: auto;
}

.atlist{
    position:relative;
    min-height: 28vh;
}

.savedHP .atlist{
    position:relative;
    left: 4vh;
    border: 2px solid rgb(21, 21, 59);
    max-height: 18vw;
    min-height: 14vw;
    max-width: 18vw;
    min-width: 18vw;
    background-color: rgb(26, 38, 44);
    border-radius: 15px;
    

}


#starbutton2{
    position:absolute;
    right: -2vw;
    bottom: 9vh;
    top: 1vh;
}

#starbutton{
    position:absolute;
    right: -2vw;
    bottom: 18vh;
    top: 1vh;
}

#starbutton3{
    position:absolute;
    right: -2vw;
    bottom: 22vh;
    top: 1vh;
}


.float{
    position:absolute;
    top: 1vh;
}














.busStopLi{
    margin-left:auto;
    margin-right: auto;
    position:relative;
    margin-bottom: 5vh;
    max-width: 50vw;
}



.busNoLi{
    margin-left:auto;
    margin-right: auto;
    position:relative;
    margin-bottom: 5vh;
    max-width: 50vw;
}




.busNoLi::before{
    content: "";
    position: absolute;
    left: -1vw;
    right: auto; 
    top: 6vh; 
    bottom: -20px; 
    width: 3px;
    height: 15vw;
    background-color: #e91e63;
    z-index: -1;
    opacity: .4;
    

}


.busNoUL{
    list-style-type: square;
}

.historyBtn{
    position: relative;
    overflow: visible;

}
.historyBtn button{
    position: absolute;
    top: 0.4vh;
    left: auto;
    bottom: auto;
    background: none;
    right: 45vw;
    border: none;
    padding: none;
    margin: none;
    font-size: 2.8vh;
    opacity: 1;
    z-index: 10;
    overflow: visible;
}

.ATListHeader{
    position: relative;
    font-family:'Courier New', Courier, monospace;
    font-size: 4vh;
    right: 1.5vh;
    
}

.topOfList{
    position:relative;
    margin-bottom: 20vh;
    list-style: none; 
    display:inline-flex;
    gap: 2vw;  
    padding: 0;
}

.atlistwow{
    position:relative;
    right: 2vh;
    margin-top: 5vh;
}


.atlist{
    border-radius: 20px;
    padding: none;
}