.mrticon{
    opacity: 0;
    width: 8vw;
    height: auto;
  }

  .arrowTrain{

    position:absolute;
    opacity: 0;
  }

  .nearmeArrow{
    position:absolute;
    opacity: 0;
    filter: invert(100%);
    transform:rotate(220deg);
    z-index: 0;
  }