/*navbar properties*/
.nv {
  list-style-type: none;
  margin: 12px;
  padding: 12px;
  overflow: hidden;
  background-color: rgb(57, 57, 57);
}

/*each navbar element properties*/
.nv li {
  display: inline-block;
}

/*no text underlines*/
.nv li a {
  display: inline-block;
  padding: 16px;
}

/*all properties when hovered*/
.nv :hover {
  background-color: rgb(120, 120, 120);
}


/*dropdown is hidden, edit profile properties*/
.nv .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nv .dropdown-content a {
  text-align: left;
}

/*display dropdown contents when profile is hovered*/
.nv .dropdown:hover .dropdown-content {
  display: block;
}

