body {
  background-color: rgb(23, 32, 37);
}

* {
  color: khaki;
  text-decoration: none;
}

h1 {
  text-shadow: 0 0 5px #ffffff33, 0 0 10px #ffffff37, 0 0 20px rgba(0, 255, 255, 0.372), 0 0 30px rgba(0, 255, 255, 0.167);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1,h2 {
  color: aquamarine;
}

h5, form {
  border: medium double aquamarine; margin-right: 994px; background-color: rgb(9, 56, 56); 
} 

button, .buton{
  background-color: rgb(60, 60, 60);
  border-radius: 20px;
  cursor: pointer;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 1px aqua, 0 0 2px aqua, 0 0 4px aqua, 0 0 6px aqua;
  }
  100% {
    text-shadow: 0 0 2px aqua, 0 0 4px aqua, 0 0 6px aqua, 0 0 8px aqua;
  }
}




/*seperator*/




.nv { background-color: rgba(79, 119, 131, 0.441);}

.nv li a {
  color: rgba(129, 129, 221, 0.744);
}

.nv .activee{
  color: aquamarine;
  animation: glow 1.5s infinite alternate;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
  
  background: rgb(23, 32, 37);
}