body {
    color:rgb(23, 32, 37);
    background-color: azure;

    
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 30px white;
    animation: glow 1.5s infinite alternate;
    
    
    @keyframes glow {
      0% {
        text-shadow: 0 0 5px aqua, 0 0 10px aqua, 0 0 20px aqua, 0 0 30px aqua;
      }
      100% {
        text-shadow: 0 0 10px aqua, 0 0 20px aqua, 0 0 40px aqua, 0 0 50px aqua;
      }
    }
}