body {
  background-color: rgba(240, 255, 255, 0.495);
}

* {
  color: sandybrown;
  text-decoration: none;
}

h1 {
 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1,h2 {
  color: goldenrod;
}

h5, form {
  border: medium double goldenrod; margin-right: 994px; background-color: khaki; 
} 

button, .buton{
  background-color: rgb(90, 90, 90);
  border-radius: 20px;
  cursor: pointer;
}

/*@keyframes glow {
  0% {
    text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 20px gold, 0 0 30px gold;
  }
  100% {
    text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 40px gold, 0 0 50px gold;
  }
}*/




/*seperator*/




.nv{ background-color: beige; }

.nv li a {
  color: goldenrod;
}

.nv .activee{
  color: rgb(255, 115, 0);
} 

.popup-overlay {
  background: white;
}