body {
  background-color: rgba(240, 255, 255, 0.495);
}

* {
  color: rgb(232, 162, 70);
  text-decoration: none;
}

h1 {
 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1,h2 {
  color: rgb(214, 167, 49);
}

h5 {
  border: medium double rgb(100, 128, 0); margin-right: 994px; background-color: rgb(189, 199, 155); 
} 

button{
  background-color: rgb(60, 60, 60);
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 20px gold, 0 0 30px gold;
  }
  100% {
    text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 40px gold, 0 0 50px gold;
  }
}




/*seperator*/




.nv{ background-color: rgba(213, 219, 150, 0.441); }

.nv :visited{
  color: rgba(155, 178, 42, 0.324);
}

.nv :active{
  color: rgba(146, 170, 49, 0.379);
} 

.nv .dropdown-content{
  background-color: rgba(216, 216, 121, 0.689);
}