@media (max-width: 1200px) {
    .card2{
      width: 60%;
      height: 40%;
      position:relative;
      left:2.8rem;
      
      padding: 10px;
      
  }
  .view-more-2{
    padding: 0.8rem 1.2rem; 
    font-size: 0.8rem; 
  }
  }
  @media (max-width: 968px) {
    .card2 {
        width: 50%; 
        height: 40%;
        position:relative;
        left:2.4rem;
        
        padding: 7px; 
    }
  
    .card-content2 h1 {
      font-size: 1.2rem;
    }
    
    .card-content2 p {
      font-size: 1.2rem; 
      margin-bottom: 1.2rem; 
      color: #555; 
      line-height: 1.4; 
    }
    .view-more-2{
  
      padding: 0.7rem 1rem; 
      font-size: 0.7rem; 
    }
  }
  
  @media (max-width: 850px) {
    .card2 {
      width: 30%; 
      height: 30%;
      position:relative;
      left:2.0rem;
      
      padding: 4px; 
  }
  
    .card-content2 h1 {
      font-size: 1rem;
    }
    
    .card-content2 p {
      font-size: 1rem; 
      margin-bottom: 1rem; 
      color: #555; 
      line-height: 1.2; 
    }
  
    .view-more-2{
  
      padding: 0.5rem 0.8rem; 
      font-size: 0.5rem; 
    }
  }
  
  /*-------------------------------------------------------------*/
  
  
  @media (max-width: 980px) {
    .card3{
    max-width: 20rem; 
    padding: 1.6rem;
  
    }
  
    .card-content3 p{
      font-size: 3px;
      margin-bottom: 16px;
      color: #555; 
      line-height: 1.1;
    }
  
    .card-content3 h2 {
      margin-bottom: 10px;
      font-size: 1.2rem;
    }
    
    .view-more-3 {
      padding: 15px 20px;
      font-size: 12px;
  
    }
  }
  
  @media (max-width: 780px) {
    .card3{
    max-width: 16rem; 
    padding: 1.2rem;
  
    }
  
    .card-content3 p{
      font-size: 2px;
      margin-bottom: 12px;
      color: #555; 
      line-height: 1.0;
    }
  
    .card-content3 h2 {
      margin-bottom: 8px;
      font-size: 1.0rem;
    }
    
    .view-more-3 {
      padding: 12px 17px;
      font-size: 8px;
  
    }
  }
  



/*----------------------------------------------------------------------------------------------------
                            FOR MIN-WIDTH: 1920px */

@media(min-width:1920px){
  .card2{
    position:relative;
    top:30vh;
  }


 

.classText2 {
  top: -30vh;
  left: -85%;
}


.classText3 {
  top: -27vh;
  left: -75%;
}
.classText4 {
  top: -27.5vh;
  left: -70%;
}

.call{
  width:37px;
  height:auto;
  top: 355vh;
}
.callno{
  font-size: 17px;
  top: 354vh;
}

.addr{
top: 363vh;
}

.addrno{
  top: 364vh;
  font-size: 17px;
}

.AboutUsGrap{
  width: 280px;
  height:auto;
  top: 345.5vh;
  left: 85%;
}
.AboutUsGrap2{
  width: 280px;
  height:auto;
  top: 303.5vh;
}

.values-grid{
  position:relative;
  right: 200px;
  gap: 40px;
  max-width: 1000px;
}

.values-section h2{
  font-size:3rem;
}

.Transparency{
  padding:80px;
}

.Transparency img{
  width: 110px;
  height: auto;
}

.Transparency p{
  font-size: 30px;
}

.Innovation{
  padding:80px;
}

.Innovation img{
  width: 145px;
  height: auto;
}

.Innovation p{
  font-size: 30px;
}

.Inclusivity{
  padding:80px;
}

.Inclusivity img{
  width: 110px;
  height: auto;
}

.Inclusivity p{
  font-size: 30px;
}

.Empathy{
  padding:80px;
}

.Empathy img{
  width: 150px;
  height: auto;
}

.Empathy p{
  font-size: 30px;
}

.credits{
  padding-bottom: 500px;
}

.copyrightLine{
  bottom: -50vh;
}

.copyright{
  top: 513.8vh;
  left: 157vh;
  font-size: 2.0vh;
}

.endLogo{
  top: 475vh;
}
.emailListing li{
  font-size: 2.5vh;
}

.emailListing{
  top: 483%;
}

.contactIcon{
  width: 30px;
  height:auto;
  right: 24.5vh;
}
.GetTouch{
  top: 474%;
  left: 65%;

}

}
