/*AT bar properties*/
.at {
    list-style-type: none;
    margin: 12px;
    padding: 12px;
}

/*each AT bar element properties*/
.at li {
    display: inline-block;
    margin-right: 12px;
}
  
/*no text underlines*/
.at li button {
    display: inline-block;
    background-color: rgb(57, 57, 57);
    color: khaki;
    padding: 12px;
    height: auto;
    width: auto;
    margin: auto;
}
  
/*all properties when hovered*/
.at :hover {
    background-color: rgb(120, 120, 120);
}


.link-default {
    text-shadow: 0px;
    
    background-color: rgb(57, 57, 57);
  }
  
  .link-toggled {
    text-shadow: 100px;
    
    background-color: rgb(120, 120, 120);
  }

.at input {
    width: 80%;
}