
#busstopdefault.busstopcard{ 
  position:relative;
  padding: 12.65vh; 
  padding-bottom: 11.8vh;
  max-height: 28vh;
  max-width: 3vw;
  border: solid 1px hsl(0, 0%, 80%);
  border-radius: 8px; /* for the roundsssssss */
  background-color: rgb(36, 36, 44);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 3);
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  .busstopname{
    font-size: 1.4vw;
    color: rgb(229, 194, 39);
    font-weight: bold;
    position:absolute;
    bottom: 10vh;
    right: 0vw;
    left: 0.3vw; 
    z-index:2;
}


}

#busstopclicked.busstopcard{
  position:relative;
  padding: 12.65vh; 
  padding-bottom: 11.8vh;
  max-height: 28vh;
  max-width: 3vw;
  border: solid 1px hsl(0, 0%, 80%);
  border-radius: 8px; /* for the roundsssssss */
  background-color: rgb(68, 68, 86);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 3);
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  .busstopname{
    font-size: 1.4vw;
    color: rgb(229, 194, 39);
    text-decoration: underline; 
    font-weight: bold;
    position:absolute;
    bottom: 10vh;
    right: 0vw;
    left: 0.3vw; 
    z-index:2;
    
    }
    .dropdrop{
     
      animation: bounce 1.3s infinite;
}

}

#busstopdefault.busstopcard:hover{

  background-color: #5b5d68;

}

#busstopclicked.busstopcard:hover{

  background-color: #5b5d68;

}

#busstopclicked.busstopcard:active{

  background-color: #7c7e8a;

}

#busstopdefault.busstopcard:active{
  background-color: #7c7e8a;

}

#busstopdefault.nearmeCard{
  position:relative;
  padding: 12.65vh; 
  padding-bottom: 11.8vh;
  max-height: 28vh;
  max-width: 3vw;
  border: solid 1.5px hsla(0, 0%, 100%, 0.797);
  border-radius: 8px; 
  background-color: rgb(24, 49, 53);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 3);
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  .busstopname{
    font-size: 1.4vw;
    color: rgb(253, 245, 175);
    font-weight: bold;
    position:absolute;
    bottom: 10vh;
    right: 0vw;
    left: 0.3vw; 
    z-index:2;
}

.distance{
  font-family:'Courier New', Courier, monospace;
  position: absolute;
  top: 18vh;
  right: 2.5vw;
  font-size: 2.2vh;
  animation: pulse 5s infinite;
}
.busstopnumber{
  position:absolute;
  top: 15vh;
  right: 4vw;
  font-size:2.2vh;
  color: rgb(222, 199, 168);
  z-index: 3; 
}

.nearmeArrow{
  opacity: 0.15;
  width: 12vw;
  right: 0.2vw;
  bottom: 13vh;
  height: auto;
}
}
#busstopclicked.nearmeCard{
  position:relative;
  padding: 12.65vh; 
  padding-bottom: 11.8vh;
  max-height: 28vh;
  max-width: 3vw;
  border: solid 0px hsla(0, 0%, 0%, 0.797);
  border-radius: 4px; 
  background-color: rgb(51, 91, 97);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 3);
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  .busstopname{
    font-size: 1.4vw;
    color: rgb(253, 245, 175);
    font-weight: bold;
    position:absolute;
    text-decoration: underline;
    bottom: 10vh;
    right: 0vw;
    left: 0.3vw; 
    z-index:2;
}

.distance{
  font-family:'Courier New', Courier, monospace;
  position: absolute;
  top: 17vh;
  right: 2.2vw;
  font-size: 2.5vh;
  animation: pulse 1s infinite;
}
.busstopnumber{
  position:absolute;
  top: 15vh;
  right: 4vw;
  font-size:2.2vh;
  color: rgb(222, 199, 168);
  z-index: 3; 
}
.nearmeArrow{
  opacity: 0.15;
  width: 12vw;
  right: 0.2vw;
  bottom: 13vh;
  height: auto;
}
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#busstopdefault.nearmeCard:hover{

  background-color: rgb(61, 122, 132);

}

#busstopclicked.nearmeCard:hover{

  background-color: rgb(61, 122, 132);

}




#busstopdefault.mrtCard {
  position:relative;
  padding: 12.65vh; 
  padding-bottom: 11.8vh;
  max-height: 28vh;
  max-width: 3vw;
  border: solid 1px hsl(0, 0%, 80%);
  border-radius: 8px; /* for the roundsssssss */
  background-color: rgb(36, 36, 44);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 3);
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  .busstopname{
    font-size: 1.4vw;
    color: rgb(229, 194, 39);
    font-weight: bold;
    position:absolute;
    bottom: 10vh;
    right: 0vw;
    left: 0.3vw; 
    z-index:2;
}
.arrowTrain{
  position:absolute;
  opacity: 0.6;
  width: 1.5vw;
  height: auto;
  right: 9.3vw;
  top: 23vh;
  transform: rotate(-90deg);
}

.mrticon{
  opacity: 0;
}


}

#busstopclicked.mrtCard{
  position:relative;
  padding: 12.65vh; 
  padding-bottom: 11.8vh;
  max-height: 34vh;
  max-width: 3vw;
  border: solid 1px hsl(0, 0%, 80%);
  border-radius: 8px; /* for the roundsssssss */
  background-color: rgb(68, 68, 86);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 3);
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  .busstopname{
    font-size: 1.4vw;
    color: rgb(229, 194, 39);
    text-decoration: underline; 
    font-weight: bold;
    position:absolute;
    bottom: 16vh;
    right: 0vw;
    left: 0.3vw; 
    z-index:2;
}


.arrowTrain{
  opacity: 0;
}
.mrticon{
  position:relative;
  opacity: 1;
  width: 4vw;
  right: 1.7vw;
  top: 8vh;
  height: auto;
  z-index: 4;
}
.dropdrop{
     
  animation: bounce 1.3s infinite;
}
}

#busstopdefault.mrtCard:hover{

  background-color: #5b5d68;
  max-height: 34vh;
  .mrticon{
    position:relative;
    opacity: 1;
    width: 4vw;
    right: 1.7vw;
    top: 8vh;
    height: auto;
    z-index:4;
  }
  .arrowTrain{
    opacity: 0;
  }

  .busstopname{
    font-size: 1.4vw;
    color: rgb(229, 194, 39);
    font-weight: bold;
    position:absolute;
    bottom: 16vh;
    right: 0vw;
    left: 0.3vw; 
    z-index:2;
}

}

#busstopclicked.mrtCard:hover{

  background-color: #5b5d68;

}

#busstopclicked.mrtCard:active{

  background-color: #7c7e8a;

}

#busstopdefault.mrtCard:active{
  background-color: #7c7e8a;

}

#busstopdefault.alternatecard{
  position:relative;
    padding: 12.65vh; 
    padding-bottom: 11.8vh;
    max-height: 28vh;
    border: solid 1px hsl(0, 0%, 80%);
    border-radius: 8px; /* for the roundsssssss */
    background-color: rgb(36, 36, 44);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 3);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    .busstopname{
      text-align: center;
      font-size: 1.7vw;
      font-weight: bold;
      position:absolute;
      bottom: 6.3vh;
      right: 4.3vw;
      left: 4.3vw; 
      z-index:2;
  }
  
}

#busstopclicked.alternatecard{
  position:relative;
    padding: 12.65vh; 
    padding-bottom: 11.8vh;
    border: solid 1px hsl(0, 0%, 80%);
    border-radius: 8px; /* for the roundsssssss */
    background-color: rgb(63, 64, 77);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 3);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    .busstopname{
      text-decoration: underline;
      text-align: center;
      font-size: 1.7vw;
      font-weight: bold;
      position:absolute;
      bottom: 6.3vh;
      right: 4.3vw;
      left: 4.3vw; 
      z-index:2;
  }

    .busbus{
      filter: brightness(0) saturate(100%) invert(50%);
      animation: bounce 1.3s infinite;
    }
    
}

@keyframes bounce {
  0%, 100% { transform: translateY(3px); }
  50% { transform: translateY(-8px); }
}

.busbus{
  position:absolute;
  width: 20vh;
  height: auto;
  bottom: 2vw;
  right: 1.15vw;
  z-index: 1;
  opacity: 0.2;
}


.dropdrop{
  position:absolute;
  right: -0.15vh;
  width: 25vh;
  bottom: 2vh;
  height: auto;
  opacity: 0.07;
  z-index: 1;
}


.busstopnumber{
        position:absolute;
        top: 17vh;
        right: 3.8vw;
        font-size:2.2vh;
        color: rgb(238, 206, 161);
        z-index: 3; 
}


#busstopdefault.alternatecard:hover{
    background-color: #5b5d68;
}

#busstopclicked.alternatecard:hover{
    background-color: #5b5d68;
}

#busstopdefault.alternatecard:active{
    background-color: #7c7e8a;
}

#busstopclicked.alternatecard:active{
    background-color: #7c7e8a;
}




.btnunfaved svg path {
    fill: none; 
    stroke: gray; 
    stroke-width: 2;
  }
  
 
  .btnfaved svg path {
    fill: gold;
    stroke: gold; 
    stroke-width: 2;
  }
  

  button:hover svg path {
    transform: scale(1.1); 
    transition: transform 0.2s ease, fill 0.2s ease;
  }
  
  .btnunfaved svg path {
    fill: none; 
    stroke: gray;
    stroke-width: 2;
  }
  
  .btnfaved svg path {
    fill: gold;
    stroke: gold;
    stroke-width: 2;
  }
  
  button:hover svg path {
    transform: scale(1.1); 
    transition: transform 0.2s ease, fill 0.2s ease;
  }
  
.btnunfaved,
.btnfaved {
  margin-left: 10px;
}


.search_bar{
  border-radius: 20px;
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
   min-width: 18vw;
   max-width: 18vw;
   height: 4vh;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
   font-size: 2.5vh; 
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   margin-bottom: 4vh;
  }


.search_bar:focus{
  border-radius: 2px;
  min-width: 20vw;
  border: none;
  box-shadow: none;
  font-size: 2.5vh; 
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.search_bar::placeholder {
  color: rgba(250, 250, 255, 0.6);
  font-style: italic;
  font-size: 2.3vh;
}

.result{
  display: block;
}

.bars{
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 80vw;  
  margin: 0 auto;
}

