.headd {animation: slideDown 2s ease-out forwards; }

.subhead{position:relative; left: 95px;}
.subpar{position:relative; top: -10px; left: 82px;}



.subhead2{position:relative; left: 95px; top: 40px;}
.subpar2{position:relative; top: 30px; left: 82px;}


@keyframes slideDown {
  0% {
      transform: translateY(-20px);
      opacity: 0;  
  }
  100% {
      transform: translateY(0); 
      opacity: 1; 
  }
}

.headd {text-align:center; animation: slideDown 2s ease-out forwards; }


.favorite-list {
  margin-top: 20px;
  position:relative; left: 95px;
}

.busstopcard {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #272040;

}

.busstopname {
  font-size: 18px;
  font-weight: bold;
}

.busstopnumber {
  font-size: 16px;
  color: gray;
}

.nyoom {
  display:block;
 margin-left:auto;
 margin-right:auto;
 width: 200px; /* Set the width */
 height: auto; /* Maintain aspect ratio */
}



.fade {
  transition: opacity 0.6s ease-in-out; /* Smooth fade transition */
}

/* Fade-in animation */
.fade-in {
  opacity: 1;
}

/* Fade-out animation */
.fade-out {
  opacity: 0.25;
}


.banner1 {
  background-color: white;
  padding: 215px;
  background: url('/public/images/nyoom_welcome.png');
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 345px;
}

.bannerbuttonRight {
  background-image: url('/public/images/slide_arrow_right.png');
  background-size: contain;
  background-repeat: no-repeat;
  position:absolute;
  top: 440px;
  right:30px;
  width: 45px;
  height: 35px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  opacity: 0.3;
  background-color: transparent;
  background-position-y: 0px;
  }

  .bannerbuttonLeft {
    background-image: url('/public/images/slide_arrow_left.png');
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    top: 440px;
    left:30px;
    width: 45px;
    height: 35px;
    margin-top: 10px;
    opacity: 0.3;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-position-y: 0px;
    }
    
  .bannerbuttonLeft:hover {
    width: 50px;
    height: 43px;
    opacity: 0.8;
  }

  .bannerbuttonRight:hover {
    width: 50px;
    height: 43px;
    opacity: 0.8;
  }
  
  


/*---------------------------------------------------------------------*/


.banner2 {
  background-color: white;
  padding: 214px;
  background: url('/public/images/nyoom_slide2.png');
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 345px;
}

.card2 {
  position:relative;
  left:-40px;
  bottom: -20px;
  width: 400px; 
  padding: 50px;
  background: rgba(255, 255, 255, 0.267); 
  border-radius: 10px; 
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.336); 
  backdrop-filter: blur(15px); 
}

.card-content2 h1 {
  text-shadow: none;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333; 
}

.card-content2 p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555; 
  line-height: 1.5;
}

/* Button */
.view-more-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(90deg, #6a11cb, #2575fc); 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
  transition: all 0.3s ease;
}

.view-more-2 span {
  margin-left: 5px;
  font-size: 18px;
}

.view-more-2:hover {
  background: linear-gradient(90deg, #2575fc, #6a11cb); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); 
}


/*-----------------------------------------------------------------------------------*/


.banner3 {
  background-color: white;
  padding: 215px;
  background: url('/public/images/nyoom_slide3.png');
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 345px;
}

.card3 {
  position:relative;
  border: 3px solid rgba(213, 213, 107, 0.443);
  left: 50%; /* Move the left edge to the center */
  transform: translateX(-50%);
  bottom: -208px;
  width: 400px; 
  padding: 50px;
  background: rgba(255, 255, 255, 0.279); 
  border-radius: 10px; 
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(15px); 
}

.card-content3 h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: none;
  letter-spacing: 0px;
  margin-bottom: 15px;
  color: #1b1a1ada; 
}

.card-content3 p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555; 
  line-height: 1.5;
}

/* Button */
.view-more-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(90deg, #FFC837, #FF8008); 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
  transition: all 0.3s ease;
}

.view-more-3 span {
  margin-left: 5px;
  font-size: 18px;
}

.view-more-3:hover {
  background: linear-gradient(90deg, #FF8008,  #FFC837); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); 
}

.endBanner{ background: rgba(64, 186, 207, 0.932);
  padding-bottom: px;
  position:relative;
  top: 50px;


}


.endBanner img {
  height: 200px;
  width: 200px;
  position:relative;
  top: 50px;
  left: 50px;

}


.endBannerhr {
  border: none; /* Remove default border */
  background-color: rgba(216, 216, 222, 0.42); /* Set the color */
  height: 2px; /* Set the thickness */
  width: 90%;
  position:relative;
  top: -5px;
}

.copyright{
  border: none;
   margin-right: 0px;
   background-color: rgba(9, 56, 56, 0); 
   position:relative;
   top: -15px;
   left: 1580px;
   font-weight: bold;
   color: rgba(255, 255, 255, 0.753);

}

.endBannerHead{
  color: white;
  text-align: center;
  position:relative;
  bottom: 160px;
  left: 260px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif


}