.headd {animation: slideDown 2s ease-out forwards; }

.subhead{position:relative; left: 95px;}
.subpar{position:relative; top: -10px; left: 82px;}

hr {position: absolute; left:0px; width:558px; height:10px}

.subhead2{position:relative; left: 95px; top: 40px;}
.subpar2{position:relative; top: 30px; left: 82px;}


@keyframes slideDown {
  0% {
      transform: translateY(-20px);
      opacity: 0;  
  }
  100% {
      transform: translateY(0); 
      opacity: 1; 
  }
}

.headd {text-align:center; animation: slideDown 2s ease-out forwards; }


.favorite-list {
  margin-top: 20px;
  position:relative; left: 95px;
}

.busstopcard {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #272040;

}

.busstopname {
  font-size: 18px;
  font-weight: bold;
}

.busstopnumber {
  font-size: 16px;
  color: gray;
}

.nyoom {
  display:block;
 margin-left:auto;
 margin-right:auto;
 width: 200px; /* Set the width */
 height: auto; /* Maintain aspect ratio */
}

