.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px); 
    z-index: 1000;
  }
  
  .popup {
    margin: auto;
    margin-top: -6.5%;
    padding: 0.5%;
    max-width: 35%; 

    
    text-align: center;
    /*animation: fadeIn 1s ease-in-out;*/
    border-radius: 50px;
    border-style: double;
    border-color: grey;
    transform: scale(0.75);
  }
  
  .popup button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: rgb(23, 32, 37);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup button:hover {
    background-color: #0056b3;
  }

  #links {
    color:grey;
    text-decoration: none;
  }

  #links :hover{
    text-decoration: underline;
  }

  .link-default {
    text-shadow: 0px;
  }
  
  .link-toggled {
    text-shadow: 100px;
  }

  form {
    display: flex;
    flex-direction: column; /* Stack form rows vertically */
    gap: 15px;              /* Space between rows */
    max-width: 300px;       /* Optional: Limit form width */
  }
  
  label {
    display: flex;
    align-items: center;   /* Vertically center the text and input */
    justify-content: flex-start;
    gap: 10px; 
           }         /* Space between label text and input */
  
  form input[type="text"], form input[type="password"] {
    flex: 1;               /* Allow input to take up remaining space */
    padding: 5px;
    font-size: 14px;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
  }