:root {
    color-scheme: light dark; 
    --light-bg: #ffffff;
    --light-text: #000000;
    --dark-bg: #000000;
    --dark-text: #ffffff;
  }
  
  
  body {
    background-color: light-dark(var(--light-bg), var(--dark-bg)); 
    color: light-dark(var(--light-text), var(--dark-text)); 
  } 