/*tte bar properties*/
.tte {
    list-style-type: none;

    overflow: hidden;
}

/*each tte bar element properties*/

  
/*no text underlines*/
.tte li a {
    display: inline-block;
    padding: 16px;
}

.mrticon {
width: 8vh;
height: auto;
}

.containerTR{
    position:relative;
}

.trbutton button{
position: relative;
width: 20vw;
height: auto;
}

.busstopnumber{
    position: absolute;
    left: 5vw;
    bottom:5vh;
    z-index:4;
}


