/*tte bar properties*/
.tte {
    list-style-type: none;

    overflow: hidden;
}

/*each tte bar element properties*/

  
/*no text underlines*/
.tte li a {
    display: inline-block;
    padding: 16px;
}

.mrticon {
width: 8vh;
height: auto;
}

.trbutton button{
position: relative;
width: 40vw;
height: auto;
}


